version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    versioning-strategy: increase
    allow:
      - dependency-type: direct
    groups:
      security:
        applies-to: security-updates
        patterns:
          - "*"
      minor-patches:
        update-types:
          - "minor"
          - "patch"
    labels:
      - "dependencies"
      - "security"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      gh-actions:
        patterns:
          - "*"
    labels:
      - "ci"
      - "security"
