# Node.js
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist

# Ambiente / segredos
.env
.env.*
!.env.example

# Logs
logs
*.log

# Cloud Run / GCP
.gcloudignore
cloudbuild*.yaml

# Docker
Dockerfile
.dockerignore
.docker/

# IDEs
.vscode
.idea

# Sistema
.DS_Store
Thumbs.db

# Temporários
*.swp
*.tmp
.temp
.tmp
*~

# Testes / cobertura
coverage
.nyc_output
test

# Banco local (NÃO subir dados do Cloud SQL)
pgdata
