name: DB Migration

on:
  push:
    branches: [ main, develop ]

jobs:
  developDatabaseMigration:
    name: Develop Database Migration
    runs-on: ubuntu-latest
    environment: develop
    if: ${{ github.ref == 'refs/heads/develop' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '23'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build project
        run: npm run build
      
      - name: Run database migration
        continue-on-error: true
        env:
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
        run: |
          npm run migration:generate
          npm run migration:run
