name: Deploy Coverage Report

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  deploy-report:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Download coverage
      uses: actions/download-artifact@v4
      with:
        name: coverage

    - name: Deploy Coverage to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./coverage/report
